.zs_filter_block{
    display: block;
}
.zs_filter_block > form > div {
    display: inline-block;
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

/* Slide */

.price-slider {
    position: relative;
    width: 800px;
    margin: 0 auto 20px;
    height: 35px;
    text-align: center;
}

.price-slider input {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 15px;
    width: 100%;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
    border-radius: 8px;
}

.price-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    background-color: white;
    border: 2px solid black;
}

